
<div class="container">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="RegisterForm">
        <h2>Register</h2>
        <mat-error *ngIf="loginInvalid">
          The username and password were not recognised
        </mat-error>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Email" formControlName="username" #email required>
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" #password required>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="authservice.register(email.value, password.value)">Register</button>
      </form>
      <mat-divider></mat-divider>
      <div class="clickRegister">
        <a routerLink="/login">Click Here to Login</a>
      </div>
    </mat-card-content>
  </mat-card>
  </div>
